@import "../../../variables";

.footer {
  width: 100%;
  height: 300px;
  margin: auto;
  margin-top: 40px;
  padding-bottom: 62px;
  background-color: $blue_f;

  .logo {
    color: $white_p;
  }
  .footer-head {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
  }

  .footer-body {
    padding-top: 122px;
    display: flex;
    font-style: italic;
    color: $blue_t;
    justify-content: flex-end;
    align-items: flex-end;
    p {
      margin-right: 10px;
      display: flex;
      align-items: center;
    }
  }
}
